<div>
  <p><a href="/">Home |</a>
  <span><%= link_to "Sign out", '/signout' %> |</span>
  <span><%= link_to "Chat", '/conversations' %> |</span>
  <span><%= link_to "Sign up", '/signup' %> |</span>
  <span><%= link_to "Sign in", '/signin' %></span>
</div>
    
